# --- DuckDB / Database Outputs ---
# Ignore any local test databases you create
*.duckdb
data.txt
new_data_csv
test.py

# --- Python Junk ---
# Ignore Python's automatic background calculation folders
__pycache__/
*.pyc
*.pyo
*.pyd
*.txt
.pytest_cache/
.egg-info/
dist/
build/

# --- Operating System Junk ---
.DS_Store
Thumbs.db